@use 'sanitize.css/sanitize.css';

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

html {
  word-break: initial; // NOTE: bugfix for `sanitize.css`
}

ul,
ol,
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}
